{% extends 'base.html' %}

{% block title %}login{% endblock %}






{% block content %}

<div class="wrapper">

    <div class="text-center mt-5 name" style="color: #7f73e1;">
        S E P H O R A
    </div>
    <form class="p-3 mt-3" method="post" action="{% url 'login' %">
        {% csrf_token %}

        <div class="form-field d-flex align-items-center">
            <span class="fa fa-user text-secondary"></span>
            <input type="text" name="userName" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fa fa-key text-secondary"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3"  style="background-color: #7f73e1;">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="#">Sign up</a>
    </div>
</div>



{% endblock %}


