{% extends 'base.html' %}

{% block title %}sign in{% endblock %}






{% block content %}

<div class="wrapper">
    <!-- <div class="logo">
        <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
    </div> -->
    <div class="text-center mt-5 name" style="color: #7f73e1;">
        S E P H O R A
    </div>
    <form class="p-3 mt-3" method="post" action="{% url 'sign_in' %}">
        {% csrf_token %}

        <div class="form-field d-flex align-items-center">
            <span class="fa fa-user text-secondary"></span>
            <input type="text" name="userName" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fa fa-envelope text-secondary"></span>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fa fa-key text-secondary"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn  mt-3" style="background-color: #7f73e1;">sign in</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Have a acount?</a> 
    </div>
</div>




{% endblock %}


